@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

body {
font-family: 'Montserrat', sans-serif;
background-color: #3E4C59;
text-align: center;
}
h2 {
color: #ffffff;
font-family: 'Oswald', sans-serif;

}
.error-message {
color: #ACD7F2;
font-size: 24px;
margin-top: 25px;
}
label {
color: #ffffff;
font-size:14px;
}
input[type="text"],
input[type="password"] {
width: 100%;
padding: 10px;
margin: 5px 0;
border: 1px solid #ccc;
border-radius: 3px;
}
input[type="submit"] {
background-color: #007bff;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
}
input[type="submit"]:hover {
background-color: #0056b3;
}
#conta {
color: #3E4C59;
margin-top: 25px;}

form {
width:50%;
margin: auto;
background-color: #80A7BF;
padding: 50px;
border-radius: 25px;
margin-top: 25px;
}

button.btn.btn-primary.meu-botao {
background-color: #F2DC99;
border: none;
color:#3E4C59;
}

a#registo{
color: #3E4C59;
font-weigth: bold;
}
